<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:jndi="http://www.springframework.org/schema/jee" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/jee
		http://www.springframework.org/schema/jee/spring-jee-2.0.xsd">

	<mvc:resources mapping="/static/**" location="/static/" />		

	<!-- Controllers -->
	<bean id="employeeController" class="br.com.cowabunga.controller.EmployeeController" scope="prototype" />

	<!-- Services -->
	<bean id="employeeService" class="br.com.cowabunga.service.EmployeeService" scope="prototype" autowire="byType"/>

	<!-- Validators -->
	<bean id="employeeValidator" class="br.com.cowabunga.validator.EmployeeValidator" scope="prototype" autowire="byType"/>
		
	<!-- Daos -->
	<bean id="employeeDao" class="br.com.cowabunga.dao.EmployeeDao" autowire="byType">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>
	
</beans>